     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:white;">Courses</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
           <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <button class="nav-link" class="btn btn-outline-light"  data-toggle="modal" data-target="#exampleModal" >Add Course</button>
              </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
             <input type="search" (ngModelChange)="searchCourses(key.value)" #key="ngModel" ngModel
             name="key" id="searchCourse" class="form-control mr-sm-2" placeholder="Search courses..." required>
           </form>
        </div>
      </nav>
      <div class="container" id="main-container">
      <div class="row">
        <div *ngFor="let c of courses" class="col-md-6 col-xl-3">
           <div class="card m-b-30">
              <div class="card-body row">
                 <div class="col-6 card-title align-self-center mb-0">
                    <h5>Id : {{c.courseId}}</h5>
                    <p class="m-0"> {{c.courseName}}</p>
                 </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Description : {{c.courseDescription}}</li>
                <li class="list-group-item">Duration : {{c.noOfDays}}</li>
             </ul>
              <div class="card-body">
                 <div class="float-right btn-group btn-group-sm">
                    <a  class="btn btn-primary tooltips" data-placement="top" data-toggle="modal" data-target="#edit"  data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a  class="btn btn-secondary tooltips" data-placement="top" data-toggle="modal" data-target="#delete" (click)="Edit(c)" data-original-title="Delete"><i class="fa fa-times"></i></a>
                 </div>
              </div>
           </div>
        </div>
      </div>
    
    
      <!---- Add Course ----->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">New Course</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <form [formGroup]="addform" (ngSubmit)="add()">
                <div class="form-group">
                  <label for="courseId">Course Id</label>
                  <input type="number" class="form-control" formControlName="courseId" id="couId" placeholder="Enter Id">
                </div>
                <div class="form-group">
                  <label for="courseName">Course Name</label>
                  <input type="text" class="form-control" formControlName="courseName" id="couName" placeholder="Course Name">
                </div>
                <div class="form-group">
                   <label for="courseDescription">Course Description</label>
                   <input type="text" class="form-control" formControlName="courseDescription" id="couDescription" placeholder="Description">
                 </div>
                 <div class="form-group">
                   <label for="noOfDays">Course Duration</label>
                   <input type="number" class="form-control" formControlName="noOfDays" id="Duration" placeholder="Duration">
                 </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>
     
     <!--Edit Course-->
     <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="editModalLabel">Edit Course</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <form [formGroup]="editform" (ngSubmit)="update()">
                <div class="form-group">
                  <label for="courseId"></label>
                  <input type="number" class="form-control" formControlName="courseId" id="CouId"  placeholder="Enter Id">
                </div>
                <div class="form-group">
                    <label for="courseName">Course Name</label>
                    <input type="text" class="form-control" formControlName="courseName" id="couName" placeholder="Course Name">
                  </div>
                  <div class="form-group">
                     <label for="courseDescription">Course Description</label>
                     <input type="text" class="form-control" formControlName="courseDescription" id="couDescription" placeholder="Description">
                   </div>
                   <div class="form-group">
                     <label for="noOfDays">Course Duration</label>
                     <input type="number" class="form-control" formControlName="noOfDays" id="Duration" placeholder="Duration">
                   </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Save changes</button>
           </div>
         </div>
       </div>
     </div>
    
     <!--Delete Course-->
     <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <p>Do you want to remove the specific course?</p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
             <button type="button" (click)="deleteCourse()" class="btn btn-primary">Yes</button>
           </div>
         </div>
       </div>
     </div>